.media {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin: 30px ;
    background-color: #59C9A5;
    border-radius: 20px;
    position: relative;
    /* font-family: "Montserrat", sans-serif; */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.media:hover {
    background-color: #7494EA;
    transform: scale3d(1.05, 1.05, 1);
    transition: 0.2s;
}

@media (max-width: 550px) {
    .media {
        width: 80%;
        height: 120%;
        margin: 30px auto 9px auto ;
    }
    img{
        width: 100%;
    }
}

.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    color: black;

}

